<h1 class="view fontalicious">Greetings <%=@current_customer.name%></h1>

  <ul class="box white">
    <br>
    <li class="hvr-grow">Email: <%= @current_customer.email %></li>
    <br>
    <li class="hvr-grow">Name: <%= @current_customer.name %></li>
    <br>
    <li class="hvr-grow">Address: <%= @current_customer.address %></li>


  </ul>
