<h1>Greetings <%=@current_customer.name%></h1>
  <ul>
    <li class="">Email: <%= @current_customer.email %></li>
    <li class="hvr">Name: <%= @current_customer.name %></li>
    <li>Address: <%= @current_customer.address %></li>
  </ul>
